/*-----BODY-----*/

body{
    background-color: #EFE3D6;
}

.connexion_inscription-title{
    color: #EFE3D6;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.body-include{
    background-color: #D1A577;
    width: 90%;
    height: 600px;
    justify-content: center;
    margin-bottom: 60px;
}

.body-include img{
    width: 50%;
    margin-right: 10px; 
}

.body-include div:nth-of-type(2){
    display: flex;
    background-color: #D1A577;
}

.body-include div:nth-of-type(2)>p{
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

#se_connecter{
    text-align: center;
}

#se_connecter h2{
    font-weight: bold;
    margin-bottom: 50px;
}

#se_connecter button{
    color: #EFE3D6;
    background-color: #7E6347;
    border: 1px solid #7E6347;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    text-decoration: none;
}

#se_connecter>button>a{
    color: #EFE3D6;
}

#sinscrire{
    display: block;
    text-align: center;
}
#sincrire h2{
    font-weight: bold;
}

#sinscrire button{
    color: #EFE3D6;
    background-color: #7E6347;
    border: 1px solid #7E6347;
    padding: 10px 35px 10px 35px;
    
}

.sinscrire-h2{
    font-weight: bold;
    margin-bottom: 50px;
}